<div class="wrapper fundament-default-footer" id="wrapper-footer-full">
  <div class="container" id="footer-full-content" tabindex="-1">
    <div class="footer-separator">
      <i data-feather="message-circle"></i> KONTAKT
    </div>
    <div class="row">
      <div class="footer-widget col-lg-3 col-md-2 col-sm-2 col-xs-6 col-3">
        <div class="textwidget custom-html-widget">
          <a href="/"><img src="https://cdn.pixabay.com/photo/2013/07/13/09/48/speech-bubble-156056_960_720.png" class="image" alt="ÖAW Logo" style="max-width: 100%; height: auto;" title="ÖAW Logo"></a>
        </div>
      </div>
      <!-- .footer-widget -->


      <div class="footer-widget col-lg-4 col-md-4 col-sm-6 col-9">
        <div class="textwidget custom-html-widget">
          <p>
            Gendercomics
            <br>

            <br>

          </p>
          <p>
            Wherever
            <br>
            1010 Wien
          </p>
          <p>
            T: +43 1 / xxx
            <br>
            E: <a href="mailto:ace@oeaw.ac.at">catchall@gendercomics.net</a>
          </p>
        </div>
      </div>



    </div><!-- /row -->
  </div>
</div>
<!-- #wrapper-footer-full -->
<div class="footer-imprint-bar" id="wrapper-footer-secondary" style="text-align:center; padding:0.4rem 0; font-size: 0.9rem;">
  CC BY Gendercomics | <a href="imprint.html">Impressum/Imprint</a>
</div>
